    <div class="topnav" id="myTopnav">
        <a class="navbar-brand logo" href="/">Home</a>
        <a href="/oms">OMS</a>
        <a href="/pos">POS</a>
        <a href="/ims">IMS</a>
        <a href="/rabbit">RABBIT</a>
    </div>
