    <div class="topnav" id="myTopnav">
        <a class ="logo" href="/">Home</a>
        <a class="navbar-brand active" href="/oms">OMS</a>
        <a href="/oms/orders">Orders</a>
        <a class ="top-right" href="/rabbit" style="float: right;">RABBIT</a>
        <a class ="top-right" href="/pos" style="float: right;">POS</a>
        <a class ="top-right" href="/ims" style="float: right;">IMS</a>

    </div>
