    <div class="topnav" id="myTopnav">
        <a class="navbar-brand active">Mock OMS</a>
        <a href="/">Server Home</a>
        <a href="/oms">Home</a>
        <a href="/oms/orders">Orders</a>
        <a href="/pos">POS</a>
    </div>