    <div class="topnav" id="myTopnav">
        <a class="navbar-brand active">Mock POS</a>
        <a href="/pos">Home</a>
        <a href="/pos/orders">Orders</a>
        <a href="/oms">OMS</a>

    </div>