    <div class="topnav" id="myTopnav">
        <a class ="logo" href="/">Home</a>
        <a class="navbar-brand active" href="/rabbit">RABBIT</a>
        <a href="/rabbit/orders">Orders</a>
        <a class ="top-right" href="/oms" style="float: right;">OMS</a>
        <a class ="top-right" href="/pos" style="float: right;">POS</a>

    </div>