{{>_posNavbar}}
    <h2>Welcome to Mock POS</h2>
    <h3>APIs Endpoints: - To call these APIs from Postman/Service please use Headers <code>content_type='application/json'</code></h3>
    <h5>Get All Orders:</h5><p>pos/orders<p>
    <h5>Get Order Detail:</h5><p>pos/order/:id</p>
    <h5>Update Order Status:</h5><p>pos/updateOrderStatus</p>
    Send Json in body. Example:<code> {orderId: "12345",status: "Pending"} <code> 
   
