{{>_Navbar}}

    <h2>Welcome to Mock OMS, POS and RABBIT Server</h2>
    <h3>OMS API Endpoints: - To call these APIs from Postman/Service please use Headers <code>content_type='application/json'</code></h3>
    <h5>All Orders in OMS:</h5><p>oms/orders</p>
    <h5>Order Status:</h5><p>oms/orderStatus/:id<p>
    <h5>Create Order:</h5><p>oms/createOrder</p>
    <h5>Add Order Doc:</h5><p>oms/addOrderDoc/:id</p>
    
    <h3>POS API Endpoints: - To call these APIs from Postman/Service please use Headers <code>content_type='application/json'</code></h3>
    <h5>Get All Newly Created Orders in POS:</h5><p>pos/orders<p>
    <h5>Get Order Detail in POS:</h5><p>pos/order/:id</p>
    <h5>Update Order Status in POS:</h5><p>pos/updateOrderStatus</p>
    <p>Send Json in body. Example:<code> {orderId: "12345",status: "Pending"} </code> </p>

    <h3>Rabbit API Endpoints: - To call these APIs from Postman/Service please use Headers <code>content_type='application/json'</code></h3>
    <h5>All Orders Ready for Driver Pickup:</h5><p>rabbit/orders</p>
    <h5>Rabbit Order Details:</h5><p>rabbit/order/:id<p>