   {{>_omsNavbar}}
    <h2>Welcome to Mock OMS</h2>
    <h3>APIs Endpoints: - To call these APIs from Postman/Service please use Headers <code>content_type='application/json'</code></h3>
    <h5>All Orders in OMS:</h5><p>oms/orders</p>
    <h5>Order Status:</h5><p>oms/orderStatus/:id<p>
    <h5>Create Order:</h5><p>oms/createOrder</p>
    <h5>Add Order Doc:</h5><p>oms/addOrderDoc/:id</p>
