{{>_rabbitNavbar}}
<h1>Welcome to Rabbit App</h1>
<h3>Rabbit APIs Endpoints: - To call these APIs from Postman/Service please use Headers <code>content_type='application/json'</code></h3>
<h5>All Orders Ready for Driver Pickup:</h5><p>rabbit/orders</p>
<h5>Rabbit Order Details:</h5><p>rabbit/order/:id<p>
